<html>
    <head>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">


<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">


<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        {% if title %}
        <title>{{ title }} - Projects</title>
        {% else %}
        <title>Welcome to Project List</title>
        {% endif %}
    </head>
    <body>
        <div>
            Projects:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('project_form') }}">Add Project</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>